<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localitatea nu a fost găsită</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>

<body>

</body>
<h1>Localitatea nu a fost găsită</h1>
<h2>Încercați din nou?</h2>
<form action="/weather">
    <input type="text" name="city" id="city" placeholder="Introduceți o localitate" />
    <button type="submit">Arată</button>
</form>

</html>